




<!-- START DELIVERY SECTION -->
<div class="col-12 col-lg-9 pt-5 pt-lg-0 page not-visible" data-page="account-link-delivery">
    <h1>Delivery Address</h1>
    <div class="pt-3 pb-5">
        <div class="row">
            <div class="col-12 col-lg-3 pb-5">
                <a href="/account/addresses" class="btn btn-primary" >{{ 'customer.addresses.add_new' | t }}</a>
            </div>
        </div>

    </div>
</div>


<!-- END DELIVERY SECTION -->


<!-- START NEWSLETTER SECTION -->
<div class="col-12 col-lg-9 pt-5 pt-lg-0 page not-visible" data-page="account-link-newsletter">
    <h1>Newsletter</h1>
    <form action="" method="" class="pt-3 pb-5">
        <label>NEWSLETTER SUBSCRIPTION</label>
        <div class="input-group">
            <div class="group">
                <input type="checkbox" name="id" value="0" id="newsletter" class="field__item">
                <label for="newsletter" class="checkbox__label"></label>
                <label for="newsletter" class="field__item">
                    <p>I would like to receive personal commercial communications from Quality Blanks by email.</p>
                </label>
            </div>
        </div>

        <div class="cta">
            <input type="submit" class="btn btn-primary col-6 " value="save">
        </div>
    </form>

</div>


<!-- END NEWSLETTER SECTION -->
