
<!-- START OWL SLIDE ITEM -->
<div class="item d-flex align-items-center cover" style="background-image:
        url(https://cdn.shopify.com/s/files/1/0281/2382/4176/t/5/assets/jumbotron.jpg?v=16171660739812653622);">
    <div class="container hero__container">
        <div class="row justify-content-center justify-content-center">
            <div class="col-12 static">
                <div class="hero__text">
                    <h2 class="owl-slide-animated hero__title">
                        QB FW20<br>
                        THE GREAT OUTDOORS AWAITS</h2>
                    <!--<div class="owl-slide-animated hero__subtitle mb-3">-->
                    <!--One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.-->
                    <!--</div>-->
                    <div class="cta">
                        <a class="btn btn-secondary owl-slide-animated owl-slide-cta col-6 col-lg-3"
                           href="/pages/lookbook" role="button">view lookbook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OWL SLIDE ITEM -->


<!-- START OWL SLIDE ITEM -->
<div class="item d-flex align-items-center cover">
    <video class="hero__video" playsinline="" loop="" muted="" autoplay="">
        <source src="https://cdn.shopify.com/s/files/1/0250/8090/files/Topbanner_video_W3_4_1080p.mp4?v=1606298422" type="video/mp4">
    </video>
    <div class="container hero__container">
        <div class="row justify-content-center justify-content-center">
            <div class="col-12 static">
                <div class="hero__text">
                    <h2 class="owl-slide-animated hero__title">
                        QB FW20<br>
                        THE GREAT OUTDOORS AWAITS</h2>
                    <!--<div class="owl-slide-animated hero__subtitle mb-3">-->
                    <!--One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.-->
                    <!--</div>-->
                    <div class="cta">
                        <a class="btn btn-secondary owl-slide-animated owl-slide-cta col-6 col-lg-3"
                           href="https://unsplash.com/photos/pgR4yBMjum8" role="button">view lookbook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OWL SLIDE ITEM -->