<!-- HIGHTLIGHT BLOCK -->
        <div class="col-12 col-md-6 p-0">
            <div class="hightlightBlock">

                <a href="#">
                    <div class="hightlightBlock__image">
                        <img class="img-fluid"
                             src="https://images.freshcotton.com/uploads/big/75ed50ff175b5883a8afa0b1db15933b.jpg" alt="" title="">
                    </div>
                    <div class="hightlightBlock__title">
                        <h3>QB FW20</h3>
                        <div class="cta">
                            <a class="btn btn-secondary col-6 col-lg-3" href="/pages/lookbook"
                               role="button">view lookbook</a>
                        </div>
                    </div>
                </a>

            </div>
        </div>
<!-- END HIGHTLIGHT BLOCK -->

<!-- HIGHTLIGHT BLOCK -->
        <div class="col-12 col-md-6 p-0">
            <div class="hightlightBlock">

                <a href="#">
                    <div class="hightlightBlock__image">
                        <img class="img-fluid"
                             src="https://images.milled.com/2020-02-06/PuduWjgb8wnbIHgh/WgVJB3VcDOjW.jpg" alt="" title="">
                    </div>
                    <div class="hightlightBlock__title">
                        <h3>JACKETS</h3>
                        <div class="cta">
                            <a class="btn btn-secondary col-6 col-lg-3" href="/pages/lookbook"
                               role="button">view all jackets</a>
                        </div>
                    </div>
                </a>

            </div>
        </div>
<!-- END HIGHTLIGHT BLOCK -->

