<section class="content pt-5 pb-5">
  <div class="container-fluid">
    {{ article.content | raw}}
  </div>
  </div>
</section>

<script>
  // Listen to images after DOM content is fully loaded
  document.addEventListener('DOMContentLoaded', function () {
    new Zooming().listen('article img')
  })
</script>

