<!-- START  FEATURED PRODUCT  -->
<section class="bottomMedia container-fluid">
  <div class="row">
    {%  include 'bottom-media-item' %}
  </div>
</section>
<!-- END  FEATURED PRODUCT -->




{% schema %}

  {
  "name": "Bottom media",
  "settings": [




  {
  "type": "image_picker",
  "id": "image_1",
  "label": "Image block 1"
  },

  {
  "type": "text",
  "id": "image_title_1",
  "label": "Image title 1"
  }

  ]
  }

{% endschema %}