<!-- START HERO BANNER -->
<section class="hero container-fluid p-0">
  <div class="owl-carousel">
    {%  include 'hero-carousel-card' %}
  </div>
</section>
<!-- END HERO BANNER -->


{% schema %}

{
"name": "hero carousel",
"settings": [
  {
    "type": "image_picker",
    "id": "image_1",
    "label": "Carousel image 1"
  },

  {
  "type": "text",
  "id": "image_title_1",
  "label": "Image title 1"
  },

  {
  "type": "text",
  "id": "button_text_1",
  "label": "Button title 1"
  },


  {
  "type": "text",
  "id": "link_url_1",
  "label": "Link url 1"
  },

  {
  "type": "image_picker",
  "id": "image_2",
  "label": "Carousel image 2"
  },
  {
  "type": "text",
  "id": "image_title_2",
  "label": "Image title 2"
  },

  {
  "type": "text",
  "id": "button_text_2",
  "label": "Button title 2"
  },
  {
  "type": "text",
  "id": "link_url_2",
  "label": "Link url 2"
  }

]
}







{% endschema %}