<!-- START HERO BANNER -->
<section class="hightlightBlocks container-fluid">
  <div class="row">
    <section class="hightlightBlocks container-fluid">
      <div class="row">
    {%  include 'highlight-block-item' %}
      </div>
    </section>
  </div>
</section>
<!-- END HERO BANNER -->


{% schema %}

  {
  "name": "Highlight bloks",
  "settings": [
  {
  "type": "image_picker",
  "id": "image_1",
  "label": "Image block 1"
  },

  {
  "type": "text",
  "id": "image_title_1",
  "label": "Image title 1"
  },

  {
  "type": "text",
  "id": "button_text_1",
  "label": "Button title 1"
  },


  {
  "type": "text",
  "id": "highlight_button_url_1",
  "label": "Link url 1"
  },






  {
  "type": "image_picker",
  "id": "image_2",
  "label": "Image block 1"
  },
  {
  "type": "text",
  "id": "image_title_2",
  "label": "Image title 2"
  },

  {
  "type": "text",
  "id": "button_text_2",
  "label": "Button title 2"
  },

  {
  "type": "text",
  "id": "highlight_button_url_2",
  "label": "Link url 2"
  }

  ]
  }

{% endschema %}