<main>

    <!-- START HERO CAROUSEL -->
    {%  section 'hero-carousel' %}
    <!-- END HERO CAROUSEL -->

    <!-- START NEW ARRIVALS CAROUSEL -->
    {%  section 'product-new-arrivals' %}
    <!-- END NEW ARRIVALS CAROUSEL -->

    <!-- START HIGHTLIGHT BLOCKS -->
    {%  section 'highlight-blocks' %}
    <!-- END  HIGHLIGHT BLOCKS -->

    <!-- START  FEATURED PRODUCT  -->
    {%  section 'featured-product' %}
    <!-- END  FEATURED PRODUCT  -->

    <!-- START BOTTOM MEDIA  -->
    {%  section 'bottom-media' %}
    <!-- END BOTTOM MEDIA -->

</main>