<!-- START CONTENT -->
  <section class="content pt-5 pb-5">
    <div class="container-fluid">
      {{ page.content | raw }}
    </div>
    </div>
  </section>

<!-- END CONTENT -->


<script>
  // Listen to images after DOM content is fully loaded
  document.addEventListener('DOMContentLoaded', function () {
    new Zooming().listen('.content img')
  })
</script>